<table>
     <tr>
        <th>
            Operation description
        </th>
        <th>
            Amount
        </th>
		<th>
			Date added
		</th>
		<th>
			Necessary
		</th>
    </tr>

    {% for operation in operations %}
		<tr>
			<td>{{ operation.description }}</td>
			<td>{{ operation.amount }}</td>
			<td>{{ operation.date_added }}</td>
			<td>{{ operation.mandatory }}</td>
		</tr>
	{%  endfor %}
</table>